@import '../../scss/colors.scss';

.breadcrumb {
  &__list {
    display: flex;
    gap: 5px;
    padding: 10px 0;
  }

  &__item {
    color: $grayColor;
    text-transform: capitalize;

    &:nth-child(n + 2)::before {
      content: '-';
      margin-right: 5px;
    }
  }

  &__link {
    color: inherit;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $secondColor;
    }
  }
}
