@import '../../scss/colors.scss';

.cart {
  &__wrapper {
    display: flex;
    padding: 25px 0 40px 0;
    gap: 3%;
  }

  &__column {
    flex: 1 1 auto;
  }

  &__menu {
    margin: 0 0 25px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $borderColor;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__title {
    margin-right: auto;
    font-size: 34px;
    font-weight: 500;
    margin-left: 30px;
  }

  &__control {
  }
}

.cartEmpty {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    width: 100px;
    height: 100px;
    color: $borderColor;
  }

  &__title {
    color: $borderColor;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 980px) {
  .cart {
    &__wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 430px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &__title {
      font-size: 48px;
      font-weight: 500;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
