@import '../../scss/colors.scss';

.productCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__buy {
    font-weight: 500;
    color: $whiteColor;
    background: $secondColor;
    padding: 20px;
    transition: all 0.3s ease 0s;

    &Active {
      background: $redColor;
    }

    &:hover {
      background: $mainColor;
    }
  }

  &__fastBuy {
    display: flex;
    align-items: center;
    width: fit-content;
    transition: all 0.3s ease 0s;
    gap: 5px;

    &Icon {
      width: 19px;
      height: 19px;
    }

    &Text {
      font-weight: 500;
      border-bottom: 1px dotted $mainColor;
    }

    &:hover {
      color: $secondColor;
    }
  }
}
