@import '../../scss/base/mixins.scss';
@import '../../scss/colors.scss';

.header {
  box-shadow: 0px 3px 5px -3px rgb(0 0 0 / 30%);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(20) !important;
    padding-bottom: rem(10) !important;
  }

  &__logo img {
    display: block;
    max-width: rem(200);
    max-height: rem(100);
    width: auto;
    height: auto;
  }

  &__cart {
  }
}
