@import '../../scss/colors.scss';

.footer {
  background: $bgColor;
  margin-top: 100px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  &__link {
    display: flex;
  }

  &__githubIcon {
    width: 50px;
    height: 50px;

    & path {
      transition: all 0.3s ease 0s;
    }

    &:hover path {
      fill: $secondColor;
    }
  }

  &__rsschoolIcon {
    width: 100%;
    height: 50px;
  }

  &__inner {
    display: flex;
    align-items: end;
    gap: 20px;
  }

  &__year {
    font-size: 31px;
    font-weight: 1000;
    line-height: 0.7;
  }
}

@media (max-width: 470px) {
  .footer {
    &__githubIcon {
      width: 30px;
      height: 30px;
    }

    &__rsschoolIcon {
      height: 30px;
    }

    &__inner {
      gap: 15px;
    }

    &__year {
      font-size: 19px;
    }
  }
}
