// Основные цвета
$mainColor: #000;
$secondColor: #0bb648;
$bgColor: #f7f8fa;
$grayColor: #666;
$redColor: #c03c3c;
$whiteColor: #fff;
$borderColor: #eee;
$bgColorModal: rgba(0, 0, 0, 0.4);
$bgColorCard: #dde0e6;
